:root {
  --bckgrnd: rgb(227, 227, 228);
  --light: rgb(224, 224, 224);
  --dark: rgb(86, 86, 86);

  --border-dark: rgb(0, 0, 0);
  --btn: rgb(17, 157, 164);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  background-image: url(./img/45degreee_fabric.png);
  background-color: var(--bckgrnd);
  color: var(--light);
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  /* Footer support */
  position: relative;
}

.grid-border {
  border: 1px solid var(--light);
}

.grid-element {
  user-select: none;
}

.container {
  max-width: 850px;
  margin: 0px auto 10px;
  border-radius: 35px;
  background-image: url(./img/tweed.png);
  background-color: var(--dark);
  box-shadow: 0 0 50px var(--border-dark);
}

.title {
  text-align: center;
  height: 80px;
  font-family: "Bungee Shade", sans-serif;
  font-size: 2rem;
  color: var(--light);
}

.grid-options {
  display: flex;
  align-items: center;
}

/* --- Custom range --- */
.rotate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  font-weight: 700;
}

.range-wrapper {
  margin: 0 10px;
  width: 75px;
  height: 100px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 200px;
  background-color: var(--light);
  border-radius: 5px;
  border: 1px solid var(--border-dark);
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--btn);
  height: 40px;
  width: 25px;
  border-radius: 5px;
  border: 1px solid var(--border-dark);
}
/* -------------------- */

.draw-window {
  aspect-ratio: 1/1;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 1px solid var(--light);
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  min-width: 75px;
  font-weight: 700;
}

/* --- Custom toggle slider --- */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 60px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light);
  border: 1px solid var(--border-dark);
  box-shadow: 0 0 3px var(--border-dark);
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 40px;
  left: -8px;
  bottom: 4px;
  background-color: var(--btn);
  border: 1px solid var(--border-dark);
  box-shadow: 0 0 2px var(--border-dark);
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--btn);
}

input:checked + .slider:before {
  -webkit-transform: translateY(-26px);
  -ms-transform: translateY(-26px);
  transform: translateY(-26px);
  background-color: var(--light);
}
/* ---------------------------- */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px;
  padding: 10px;
}

.toggle-container {
  display: flex;
}

/* -- Color picker -- */
button,
input[type="color"] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type="color"]:hover {
  transform: scale(1.1);
}

button:active,
input[type="color"]:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 85px;
  height: 85px;
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}
/* ------------------ */

.btn-round {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  box-shadow: 0 0 10px var(--border-dark);
  color: var(--dark);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: var(--dark);
}

.github-link {
  font-size: 1.5rem;
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--light);
}

@supports not (aspect-ratio: 1 / 1) {
  .element::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .element::after {
    display: block;
    content: "";
    clear: both;
  }
}
